SWIFT_VERSION = 6.0
MACOSX_DEPLOYMENT_TARGET = 26.0
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM =
CURRENT_PROJECT_VERSION = 88
MARKETING_VERSION = 0.6.6
ENABLE_USER_SCRIPT_SANDBOXING = NO
EXIFTOOL_REQUIRED_VERSION = 13.50
APP_DISPLAY_NAME = Ledger
APP_BUNDLE_IDENTIFIER = com.chrislemarquand.Ledger
APP_TEST_BUNDLE_IDENTIFIER = com.chrislemarquand.LedgerTests
